.SelectMany {
    width: inherit;
}

/*dropdown items list*/
.dropdown{
    max-height: 200px;
    margin: .25em 0;
    padding: .25em;

    overflow-y: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border: 1px solid var(--bs-gray-300);
    border-radius: .5em;
}

/*block with selected values*/
.selectedList{
    width: 100%;
    margin: .25em 0 0;
    padding: .25em;

    display: flex;
    flex-wrap: wrap;

    border: 1px solid var(--bs-gray-300);
    border-radius: .5em;
}

/*selectedItem*/
.selectedItem{
    margin: .15em;
}

/*item with checkbox and title*/
.item{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item p{
    margin: 0;
}
