.OrderForm{
    width: 100%;
    padding: 1.75em 0 2.5em;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*userAddress*/
.orderFormData{
    width: calc(100% - 350px - 1em);
    max-width: 700px;
}

/*payment*/
.payment{
    width: 350px;
    padding: 2em;

    background: var(--app-light);
    border-radius: 5px;
}
.payment h3{
    margin-bottom: .75em;
    font-weight: 700;
}


/*input textarea in form*/
.orderFormData input,
.orderFormData textarea{
    padding: .5em 1em;

    color: var(--bs-gray-600);
    border-radius: 5px;
    border: 1px solid var(--bs-gray-300);
    outline: none;
    transition: .25s;
}
.orderFormData input::placeholder,
.orderFormData textarea::placeholder{
    color: var(--bs-gray-600);
}
.orderFormData input:hover,
.orderFormData input:focus,
.orderFormData textarea:hover,
.orderFormData textarea:focus{
    color: var(--bs-dark);
    border: 1px solid var(--bs-gray-600);
}

/*no delivery*/
.noDelivery{
    padding: 1em 2em;
    line-height: 1.2;
    text-align: center;
    border: 1px solid var(--app-primary);
    border-radius: 5px;
}
.noDelivery b{
    color: var(--app-primary);
}

/*button submit form*/
.OrderForm .submitOrder{
    width: 100%;
    padding: .75em 0;

    background: var(--app-primary);
    color: var(--bs-white);
    border: none;
    border-radius: 5px;
    transition: .25s;
}
.OrderForm .submitOrder:hover{
    background: var(--app-primary-hover);
}

/*media*/
@media (max-width: 991px) {
    /*userAddress*/
    .orderFormData{
        width: calc(100% - 320px - 1em);
    }
    /*payment*/
    .payment{
        width: 320px;
    }
}

@media (max-width: 768px) {
    .OrderForm{
        flex-direction: column;
    }
    /*payment*/
    .orderFormData{
        margin-bottom: 2em;
    }
    .orderFormData,
    .payment{
        width: 100%;
    }
}

@media (max-width: 500px) {
    /*payment*/
    .payment{
        padding: 1.5em 1em;
    }
    /*input textarea in form*/
    .orderFormData input,
    .orderFormData textarea{
        padding: .5em;
    }
    .noDelivery{
        font-size: 14px;
    }
}
