.WeightsBtns{
    display: flex;

    z-index: 3;
}

.WeightsBtns button{
    margin-right: .25em;
    padding: .25em .75em;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 5px;
    border: 2px solid transparent;
    background: none;
    transition: .25s;
}
.WeightsBtns button:disabled,
.WeightsBtns button:disabled:hover{
    border: 2px solid var(--app-primary);
}
.WeightsBtns button:hover{
    border: 2px solid var(--bs-gray-300);
}

/*text*/
.WeightsBtns button h5,
.WeightsBtns button p,
.WeightsBtns h3{
    margin: 0;
    line-height: 1;
}
.WeightsBtns button h5,
.WeightsBtns h3{
    font-weight: 700;
    color: var(--bs-dark);
}
.WeightsBtns button p{
    color: var(--bs-gray-600);
}


