.PreviewBanner{
    margin-bottom: 5em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*image*/
.PreviewBanner img{
    width: 50%;
    margin: -4.5% 0;
    aspect-ratio: 827 / 1065;
}

/*content*/
.content{
    width: 47.5%;
    margin-top: -10%;
}

/*text*/
.PreviewBanner h1,
.PreviewBanner span{
    margin-bottom: .35em;

    font-size: 56px;
    color: var(--bs-dark);
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}
.PreviewBanner span{
    color: var(--app-primary);
}

.PreviewBanner p{
    margin-bottom: 3em;
    color: var(--bs-gray-600);
    line-height: 1.8;
}

/*link*/
.PreviewBanner a{
    padding: .75em 15%;

    text-decoration: none;
    color: var(--bs-dark);
    border: 2px solid var(--app-primary);
    border-radius: 5px;
    transition: .25s;
}
.PreviewBanner a:hover{
    color: var(--bs-white);
    background: var(--app-primary);
}

/*media*/
@media (max-width: 1400px) {
    /*content*/
    .content{
        margin-top: -5%;
    }
    /*text*/
    .PreviewBanner h1,
    .PreviewBanner span{
        font-size: 45px;
    }
}

@media (max-width: 1200px) {
    /*text*/
    .PreviewBanner h1,
    .PreviewBanner span{
        font-size: 35px;
    }
    .PreviewBanner p{
        line-height: 1.6;
    }
}

@media (max-width: 991px) {
    .PreviewBanner{
        padding-top: 5em;
        padding-bottom: .5em;
    }
    .PreviewBanner img{
        display: none;
    }
    /*content*/
    .content{
        width: 100%;
        margin-top: 0;
    }
}

@media (max-width: 400px) {
    /*text*/
    .PreviewBanner h1,
    .PreviewBanner span{
        font-size: 28px;
    }
}
