.loadContainer{
    width: 100%;
    height: 50vh;
    margin: 2em 0 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--app-light);
    border-radius: 5px;
}
