.OrdersList{
    width: 100%;
    height: auto;
    padding: 1em;

    border: 1px solid var(--bs-gray-300);
    border-radius: .5em;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
