.NavbarTop{
    --bs-navbar-padding-y: 1.5em;
}

/*container*/
.container{
    align-items: center;
}

/*logo*/
.logo img{
    width: 220px;
}

/*right block (for align)*/
.right{
    display: flex;
    align-items: center;
}

/*links Container*/
.linksContainer{
    margin-right: 3.5em;
}
/*links*/
.linksContainer a{
    margin: 0 .25em;
    padding: .35em .75em;

    border-radius: 30px;
    color: var(--bs-gray-600);
    text-decoration: none;
    transition: .25s;
}
.linksContainer a:hover,
.linksContainer a.active{
    color: var(--bs-white);
    background: var(--app-primary);
}

/*openMenu*/
.openMenu{
    display: none;
    width: 32px;
    margin-left: 15px;
}

/*media*/
@media (max-width: 1200px) {
    /*logo*/
    .logo img{
        width: 180px;
    }
    /*links Container*/
    .linksContainer{
        margin-right: 2.5em;
    }
}

@media (max-width: 991px) {
    /*logo*/
    .logo img{
        width: 110px;
    }
    /*links Container*/
    .linksContainer{
        margin-right: 1.25em;
    }
    /*links*/
    .linksContainer a:nth-child(2){
        display: none;
    }
}

@media (max-width: 768px) {
    /*links Container*/
    .linksContainer{
        margin-right: .5em;
    }
    /*links*/
    .linksContainer a:nth-child(3){
        display: none;
    }
}

@media (max-width: 500px) {
    /*links and shop cart*/
    .linksContainer{
        display: none;
    }
    /*openMenu*/
    .openMenu{
        display: inline-block;
    }
}
