.ProductsList{
    width: 100%;
    height: auto;
    padding: 1em;

    border: 1px solid var(--bs-gray-300);
    border-radius: .5em;
}

.content{
    max-height: 95vh;
    padding: .5em;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border: 1px solid var(--bs-gray-300);
    border-radius: .5em;
    overflow-y: auto;
}
