.ReviewsSlider{
    margin: 4em 0;
    overflow: hidden;

    /*vars*/
    --swiper-navigation-size: 25px;
    --swiper-theme-color: var(--app-primary);
    --swiper-navigation-color: var(--app-primary);
    --swiper-navigation-sides-offset: -26px;
}

/*header*/
.ReviewsSlider header{
    margin-bottom: 1.5em;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.ReviewsSlider header h2{
    margin-bottom: 0;
    font-weight: 800;
    color: var(--bs-gray-600);
}

/*slider*/
.slider{
    overflow: visible;
    user-select: none;
}

/*slide*/
.slide{
    height: auto;
    padding: 3em 2.5em;

    border-radius: 5px;
    background: var(--app-light);
}

/*header*/
.slide header{
    margin-bottom: .5em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.slide header h5{
    margin: 0;
    font-weight: 700;
}
.slide header p{
    margin: 0;
    color: var(--bs-gray-500);
}

/*stars*/
.stars{
    margin-bottom: 1.25em;
    display: flex;
    align-items: center;
}
.stars p{
    margin: 0 .25em -3px 0;
    line-height: 1;
}
.stars img{
    width: auto;
    height: 1em;
}

/*text*/
.text{
    min-height: 7em;
    margin: 0;
}

/*media*/
@media (max-width: 450px) {
    .slide{
        padding: 2.5em 1.5em;
    }
}
