.Advantages{
    width: 100%;
    margin: 7em 0 3.5em;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*block*/
.block{
    display: flex;
    flex-direction: column;
}
.block:first-child{
    width: 35%;
}
.block:last-child{
    width: 60%;
}


.block h2{
    margin-bottom: 1em;
    font-weight: 800;
    color: var(--bs-dark);
    font-family: 'Playfair Display', serif;
}

/*ul*/
.block ul{
    padding-left: 1.5em;
}
.block ul li{
    margin-bottom: .85em;
}
/*p*/
.block p{
    line-height: 1.8;
}
.block ul li,
.block p{
    color: var(--bs-gray-600);
}

/*media*/
@media (max-width: 1200px) {
    .block:first-child{
        width: 30%;
    }
    .block:last-child{
        width: 67.5%;
    }
}

@media (max-width: 991px) {
    .Advantages {
        margin: 5em 0 2.5em;
    }

    /*blocks*/
    .block:first-child{
        display: none;
    }
    .block:last-child{
        width: 100%;
    }
    .block h2{
        margin-bottom: .65em;
    }
}
