/*page with items*/
.shopCart{
    min-height: 60vh;
    margin: 1.25em auto 3em;
}

/*top content*/
.topLinks{
    margin-bottom: 1.5em;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*main content*/
.content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*--------------------------*/
/*shop cart without items*/
.noItems{
    min-height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
