.main{
    height: 65vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main h1{
    font-size: 24px;
}

/*form*/
.main form{
    width: 400px;
}

/*button*/
.main form button{
    width: 100%;
}
