.FooterContent{
    width: 100%;
    padding: 3em 0 4em;

    display: flex;
    flex-direction: column;
}

.FooterContent a{
    color: var(--bs-dark);
    text-decoration: none;
    transition: .25s;
}
.FooterContent a:hover{
    color: var(--app-primary);
}

/*top and bottom blocks*/
.FooterContent .top,
.FooterContent .bottom{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*top block title left*/
.FooterContent .top h4{
    max-width: 40%;
    margin: 0;
    font-weight: 700;
    color: var(--bs-gray-600);
}

/*top block container right*/
.FooterContent .top .right{
    display: flex;
    align-items: center;
}
/*top block container right BLOCK*/
.FooterContent .top .right .block{
    margin-left: 3em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*top right block text*/
.FooterContent .top .right .block p{
    margin: 0 0 .15em 0;
    color: var(--bs-gray-600);
    font-weight: 400;
}
.FooterContent .top .right .block .links{
    display: flex;
    align-items: center;

    font-weight: 700;
}
.FooterContent .top .right .block .links span{
    margin: 0 .35em;
}


/*bottom block*/
.bottom{
    margin-top: 3em;

    align-items: flex-end;
}

/*bottom left block*/
.bottom .left{
    display: flex;
    flex-direction: column;
}
.bottom .left h6{
    margin: 0;
    line-height: 1.6;

    font-weight: 400;
    color: var(--bs-gray-600);
}

/*bottom right block*/
.bottom .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
