.DeliveryInfo{
    width: 100%;
    margin-bottom: 2em;

    display: flex;
    flex-direction: column;
}

/*block*/
.DeliveryInfo .block{
    max-width: 1000px;
    margin-bottom: 1.25em;
    display: flex;
    align-items: flex-start;
}
/*text*/
.DeliveryInfo .block p{
    width: calc(100% - 20px - .75em);
    margin: -1px 0 0 0;
    color: var(--bs-gray-600);
}

/*primary circle*/
.block .circle{
    width: 20px;
    height: 20px;
    margin-right: .75em;

    border-radius: 5px;
    background: var(--app-primary);
}


/*media*/
@media (max-width: 1200px) {
    .DeliveryInfo .block{
        max-width: 800px;
    }
}
