.MeetBanner{
    position: relative;

    width: 100%;
    height: auto;
    padding: 5em 0;

    margin: 2em 0 4em;
    background-color: #1E1E1E;

    background-image: url("/other/red-reactangle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

    overflow: hidden;
    color: var(--bs-white);
}

/*content*/
.content{
    width: 50%;
}

/*text*/
.content h1{
    margin-bottom: .5em;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}
.content p{
    margin-bottom: 3em;
    font-weight: 300;
    line-height: 1.8;
}

/*.content button*/
.content a{
    padding: 1em 10%;

    color: var(--bs-white);
    background: var(--app-primary);
    border-radius: 5px;
    text-decoration: none;
    transition: .25s;
}
.content a:hover{
    color: var(--bs-dark);
    background: var(--bs-white);
}

/*img left*/
.imageLeft{
    width: 55%;
    margin: 0 0 -5em -5%;
}
/*img right*/
.imageRight{
    position: absolute;
    right: 0;
    bottom: 3em;

    max-width: 500px;
    width: 30%;
    z-index: 3;
}
/*img right*/
.imageLogo{
    position: absolute;
    right: 15%;
    top: 7.5%;

    max-width: 400px;
    width: 25%;
    z-index: 2;
}


/*media*/
@media (max-width: 1200px) {
    /*img right*/
    .imageLogo{
        top: 12.5%;
    }
    .imageRight{
        bottom: 12.5%;
    }
}

@media (max-width: 991px) {
    .MeetBanner{
        background-position: 150%;
    }
    /*content*/
    .content{
        width: 100%;
    }
    /*img right*/
    .imageLogo{
        width: 250px;
        top: auto;
        bottom: -25px;
        right: -25px;
    }
    .imageRight{
        display: none;
    }
    /*img left*/
    .imageLeft{
        width: 500px;
        margin: 0 0 -7.5em -5%;
    }
}

@media (max-width: 768px) {
    /*imageLeft*/
    .imageLeft{
        width: 400px;
        margin: 0 0 -7.5em -15%;
    }
    /*img right*/
    .imageLogo{
        width: 250px;
        top: auto;
        bottom: -50px;
        right: -50px;
    }
}

@media (max-width: 600px) {
    .MeetBanner{
        background-image: none;
    }
}

@media (max-width: 600px) {
    /*img right*/
    .imageLogo{
        width: 200px;
    }
    /*img left*/
    .imageLeft{
        width: 100%;
    }
}

@media (max-width: 400px) {
    /*img left*/
    .imageLeft{
        width: 100%;
        margin: 0 0 -7.5em -12.5%;
    }
    /*img right*/
    .imageLogo{
        width: 150px;
    }
}
