.BackLink{
    display: flex;
    align-items: center;

    font-size: 18px;
    color: var(--bs-dark);
    font-weight: 700;
    text-decoration: none;
    transition: .25s;
}
.BackLink:hover{
    opacity: .75;
}

.BackLink span{
    line-height: 1;
}

.BackLink img{
    margin-top: -1px;
    margin-right: .35em;
}
