.ShopCartLink{
    width: 150px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--bs-dark);
    font-weight: 600;
    text-decoration: none;
    background: var(--app-light);
    border-radius: 5px;
    transition: .25s;
}
.ShopCartLink:hover{
    background: var(--app-light-hover);
}

/*title (Корзина иконка)*/
.title{
    position: relative;
}
.title img{
    width: 22px;
    height: auto;
}
/*counter*/
.title span{
    position: absolute;
    right: -7px;
    top: -3px;

    width: 16px;
    height: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: var(--app-primary);
    font-size: 12px;
    color: var(--bs-white);
}

/*price*/
.price{
    font-size: 17px;
    margin-left: .75em;
    line-height: 1;
}

/*media*/
@media (max-width: 768px) {
    .ShopCartLink{
        width: 120px;
        height: 40px;
    }
}
