.ProductCard{
    margin-bottom: .25em;
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid var(--bs-gray-300);
    border-radius: .25em;
}

/*swiperContainer*/
.swiperContainer{
    width: 250px;
}
