.main{
    display: flex;
    flex-direction: column;
}

/*linkBack*/
.linkBack{
    margin: 1.5em 0;
}

/*productData*/
.productData{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
}

.sliderContainer{
    width: 50%;
}
.sliderContainer img{
    border-radius: 5px;
}

.dataContainer{
    width: 45%;
}
