.ProductInfo{
    display: flex;
    flex-direction: column;
}

/*header with badges*/
.ProductInfo header{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
.ProductInfo header span{
    margin: 0 .5em .5em 0;
    padding: .5em .75em;
    background: var(--app-primary) !important;
}

/*weights*/
.weights {
    display: inline-flex;
}
.weights p{
    margin: 0;
}
.weights p span{
    margin: 0;
    padding: 0;
}
.weights p:last-child span{
    display: none;
}

/*content*/
.content{
    margin-bottom: 1.5em;
}

/*name*/
.ProductInfo h1{
    margin-bottom: .6em;

    font-family: 'Playfair Display', serif;
    font-weight: 800;
    color: var(--bs-dark);
}

/*blockContent*/
.blockContent{
    margin-bottom: 1em;
}
.blockContent label{
    color: var(--bs-gray-600);
    font-weight: bold;
}
.blockContent p{
    margin: 0;

    white-space: pre-wrap;
    color: var(--bs-gray-600);
}

/*media*/
@media (max-width: 1200px) {
    /*name*/
    .ProductInfo h1{
        font-size: 30px;
    }
}

@media (max-width: 991px) {
    /*header with badges*/
    .ProductInfo header{
        margin-bottom: .75em;
    }
}

@media (max-width: 576px) {
    /*name*/
    .ProductInfo h1{
        font-size: 25px;
    }
    /*content*/
    .content{
        margin-bottom: .75em;
    }
}

@media (max-width: 360px) {
    /*name*/
    .ProductInfo h1{
        font-size: 22px;
    }
}
